## Intro to Jupyter

we can write markdown and Python code in our cells. We can choose accordingly in the dropdown above.

In [4]:
a=10
print(a)
print(12)

10
12

In [11]:
#print function work
b=20
c=22
print(b, end = " ")
print(c)

20 22

In [14]:
#here last lne will take as an output it will not print the value of a for that we have to use print()
a=10
b=20
a
b

20

In [21]:
#Python mein agar aap print() nahi lagate ho, toh sirf last line ka output dikhta hai.
#Python interpreter (specially in scripts ya Jupyter-style cells) sirf last expression ka result print karta hai agar aap print() ka use nahi karte.

# a = 10 → a mein int assign hua.

# type(a) → is waqt a ka type int tha. Lekin aapne is output ko print nahi kiya.

# Phir a = 12.3 → ab a mein float assign ho gaya.

# type(a) → ab ye expression ka result float hai, aur kyunki ye last line hai, isi ka output dikh raha hai.
a=10
type(a)
a=12.3
type(a)

float

In [19]:
a=10
print(type(a))
a=12.3
print(type(a))
a=2+3j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [23]:
#agar hmm sbse upar wala cell chalakr phir isko run karenge then ye upar wla ka value show karega
# that it is following the order of execution, not the order of cells
a

12.3

In [35]:
# Operator
a=12
c=a+b
d,e=3,5
print(a)
print(b)
print(c)
print(a-b)
print(a * b)
print(a/b)
print(a//b) #To know the floor value after division
print(d)
print(e)

12
20
32
-8
240
0.6
0
3
5

In [39]:
# Strings in Python
a = "this is a string"
print(a)
a = 'definition'
print(a)

this is a string
definition

In [42]:
# String properties or we can say functions
print(len(a))
print(type(a))
print(a[0])

10
<class 'str'>
d

In [54]:
# Strings are immutable
# a[1]='t'  Invalid
# print(a)

# means we change the reference value but we can not change the value inside string

a='change' #Valid as we are not changing the string
print(a)
b= ' karo'
print(a+b)
c=a+ b
print(c)
# d=a + 2 #Not Valid
# print(d)
d = a * 2
print(d) #Valid

#No concept of Character in python
print(type('2'))

change
change karo
change karo
changechange
<class 'str'>

In [61]:
#Few Functions call for String
a = "  Abc  "
print(a.upper()) #means a.upper() will create a new string and will return, not assign to a again
print(a)
print(a.lower())
print(a.strip())#remove initial and end space from string

  ABC
  Abc
  abc
Abc

In [5]:
#User Input
a=input()
print(a)
print(type(a)) #input() return as a str only

 123

123
<class 'str'>

In [8]:
#To take int float as input
a=int(input())
print(a)
print(type(a))
a=float(input())
print(a)
print(type(a))

 12

12
<class 'int'>

 12

12.0
<class 'float'>

In [18]:
#String negative indexing is also valid
# a b c d e f
# 0 1 2 3 4 5
# -6-5-4-3-2-1
s="abcdef"
print(s[1:3]) # 1st index is not included and 3rd index is excluded
print(s[-3:]) #-3st is included and -1 is excluded

bc
def

In [21]:
#String Slicing
a= "abcdef"
print(a[1:3])
print(a[-3:-1])
print(a[4:])
print(a[:3])
print(a[:-1])

bc
de
ef
abc
abcde

In [10]:
# Tuple:-Storing any object, and is immutable
t=(1,"w",'e','werty',9.0)
print(t)
print(type(t))
print(t[0])
# t[0]=2 #'tuple' object does not support item assignment, i.e. immutable in nature  Invalid
print(t[0:2])

# Operators in Tuple
t=(1,2)
k=(1,'d')
print(t + k)
print( t * 2)
print(1 in t)
print(3 in t) # Checking whether 3 is available in tuple t

(1, 'w', 'e', 'werty', 9.0)
<class 'tuple'>
1
(1, 'w')
(1, 2, 1, 'd')
(1, 2, 1, 2)
True
False

In [13]:
# Boolean Operator

a=True
b=False
# c=true # It is invalid
print(type(a))

<class 'bool'>

In [19]:
x=30
y=40
z=35

if x>y:
    print(x)
elif y>z:
    print(y)
    print(y+10)

if(x>y and x>z):
    print(x)
elif(y>x and y>z):
    print(y)
else:
    print(z)

40
50
40

In [25]:
# While loop
print('Enter an integer:')
n=int(input())
i=1
while i<=n:
    print(i, end=" ")
    i+=1
print()
print('done')

Enter an integer:

 7

1 2 3 4 5 6 7
done

In [35]:
# range(start,end,increment) 
# start default=0
# end =n-1
# increment default=1
print("Enter an integer:")
n=int(input())
for i in range(n+1):
    print(i,end=" ")

print()
for i in range(4,20,2):
    print(i,end=" ,")

print()
# Prime number
print("Enter a number: ")
n=int(input())
prime=True
for i in range(2,n):
    if(n%i==0):
        prime=False
        break
print(prime)

Enter an integer:

 40

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40
4 ,6 ,8 ,10 ,12 ,14 ,16 ,18 ,
Enter a number:

 18

False

In [41]:
# Faster Iteration like range only
s="Pranav Kumar"
for c in s:
    print(c, end=" ,")

print()
t=(1,2,'Pranav','Kumar',34.90)
for i in t:
    print(i, end=" ")

P ,r ,a ,n ,a ,v ,  ,K ,u ,m ,a ,r ,
1 2 Pranav Kumar 34.9

In [51]:
# Functions

def sum(a,b):
    c=a +b 
    return c

print(sum(19,98))

def power(base,power=2):
    return base ** power

print(power(10,4))
print(power(12))

def sum3(a=1,b=2,c=3):
    return a+b+c

print(sum3())
print(sum3(12))
print(sum3(12,5))
print(sum3(10,10,10))
print(sum3(b=100))

117
10000
144
6
17
20
30
104

In [60]:
# Variable number of input as a function
def sum_of_Variable_Args(a,b,*more):
    ans=a+b
    print(type(more))
    for i in more:
        ans+=i
    return ans

print(sum_of_Variable_Args(10,20))
print(sum_of_Variable_Args(10,20,20,20))


# More than 1 return value:i.e returne tuple
def dummy(a,b):
    return a+b,a*b,a-b

result=dummy(10,20)
print(type(result))
sum, multiply,difference=dummy(70,30)
print(sum)
print(multiply)
print(difference)

<class 'tuple'>
30
<class 'tuple'>
70
<class 'tuple'>
100
2100
40

In [89]:
# List
# it is mutable in nature

a=[1,2,3]
print(type(a))
print(a)

a1=list()
print(type(a1))
print(a1)

a2=list(a)
print(a2)

# Here first while executing "for i in range(10)" it is putting the value of "i" in list 
a3= [i for i in range(10)]
print(a3)

a4=[i*i  for i in range(10)]
print(a4)

a5=[1,2.3,"Pranava"]
print(type(a5))
print(a5[2])
# Mutable in nature
a5[2]="Prabhat"
print(a5)

# How to access data
print(a5[-1])
print(a4[1:5])

# length function
len(a5)

# Fast iterate
for i in a:
    print(i,end=" ")
print()


# How to take input Data
str="a,bcc,d"
input1=str.split(",") #after splitting returning list
print(type(input1))
print(input1)

str=" a b c d "
# str=str.split(" ").strip()  Invalid because split() method returns list and list don't have strip() function only string have
str=str.strip()
print(type(str))
print(str)
str=" a b c d "
str=str.strip().split()
print(type(str))
print(str)

# little more explained code
print("Enter the number as give space between 2 numbers i.e. 1 2 3")
user_input=input().strip()
num_list=user_input.split(" ")

for i in range(0,len(num_list)):
    num_list[i]=int(num_list[i])

print(num_list)


# One Line for takin array as an input

<class 'list'>
[1, 2, 3]
<class 'list'>
[]
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
<class 'list'>
Pranava
[1, 2.3, 'Prabhat']
Prabhat
[1, 4, 9, 16]
1 2 3
<class 'list'>
['a', 'bcc', 'd']
<class 'str'>
a b c d
<class 'list'>
['a', 'b', 'c', 'd']
Enter the number as give space between 2 numbers i.e. 1 2 3

TypeError: 'list' object is not callable